@using jesspring.io.Controllers
@{
    var contentClass = ViewData.ContainsKey("ContentClass") ? $"{ViewData["ContentClass"]}" : string.Empty;
}

<html>

<head>
    <title>@ViewData["Title"]</title>

    <script src="/scripts/site/achievements.js" asp-append-version="true"></script>
    <script src="/scripts/site/meow.js" asp-append-version="true"></script>
    <script src="/scripts/site/footer.js" asp-append-version="true"></script>

    <link href="https://fonts.cdnfonts.com/css/pixelcraft-2" rel="stylesheet" fetchpriority="high">
    <link rel="stylesheet" href="/css/styles.css" asp-append-version="true">
    <link id="cursor-css" rel="stylesheet" href="/css/cursors/default.css" asp-append-version="true">
    <script src="/scripts/site/cursor.js" asp-append-version="true"></script>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" asp-append-version="true">
</head>

<body class="pixelated container">
    <div id="mood" class="mood-overlay unselectable"></div>
    <script src="/scripts/site/mood.js" asp-append-version="true"></script>

    <canvas id="fly-canvas" class="fly-overlay unselectable"></canvas>

    <header class="header scale3 flex justify-content-center">
        <a href="/">
            <img class="center" src="/images/title.png">
        </a>
        <span id="splash-text" class="splash-text unselectable display-none"></span>
        <script src="/scripts/site/splash.js" asp-append-version="true"></script>
    </header>

    <main class="main pixel-font">
        <content class="content flex @contentClass">

            @RenderBody()

        </content>
    </main>

    <footer class="footer scale3 flex jc-space-between">
        <a class="cog-link" href="@Url.Action(nameof(HomeController.Settings), HomeController.Name)">
            <img class="cog-image" src="/images/cog.png">
        </a>

        <div class="flex justify-content-center p-b-10">
            <a class="icon" href="https://www.instagram.com/jesssspring/" target="_blank" id="footer-link-instagram">
                <img src="/images/instagram.png">
            </a>

            <a class="icon" href="https://discord.gg/HMMpgw8TzA" target="_blank" id="footer-link-discord">
                <img src="/images/discord.png">
            </a>

            <a class="icon" href="https://open.spotify.com/user/lolsville" target="_blank" id="footer-link-spotify">
                <img src="/images/spotify.png">
            </a>

            <a class="icon" href="https://github.com/jessspring" target="_blank" id="footer-link-github">
                <img src="/images/github.png">
            </a>
        </div>

        <img id="bug" class="bug" src="/images/bug.png">
    </footer>

    <div id="achievement-popup-container" class="achievement-popup-container card flex fd-row unselectable">
        <img id="achievement-popup-image" class="achievement-popup-image" />

        <div class="flex fd-column">
            <div id="achievement-popup-name" class="font-size-2 home-card-title-yellow pixel-font-bold achievement-title"></div>
            <div class="font-size-2 title-name">Achievement unlocked!</div>
        </div>
    </div>
</body>

<script src="/scripts/site/fly.js" asp-append-version="true"></script>

@RenderSection("Scripts", false)

</html>
